@font-face {
    font-family: "Pixel NES";
    src: url("https://dimden.dev/cyberbiology/Pixel_NES.eot?") format("eot"), url("https://dimden.dev/cyberbiology/Pixel_NES.woff") format("woff"), url("https://dimden.dev/cyberbiology/Pixel_NES.ttf") format("truetype"), url("https://dimden.dev/cyberbiology/Pixel_NES.svg#PixelNES") format("svg");
    font-weight: normal;
    font-style: normal;
}

#viewport {
    position: fixed;
    left: 40px;
    top: 40px;
    border: solid 2px white;
}

.mode-btn {
    cursor: pointer;
}

body {
    background-color: black;
    margin: 0;
    font-family: Pixel NES;
    color: white;
    text-shadow: -1px -1px 1px black, 1px 1px 1px black;
}

#logo {
    left: 50px;
    top: 15px;
    position: absolute;
}

#dna-table-parent {
    position: absolute;
    left: 55%;
    top: 40px;
}

#dna {
    top: 15px;
    position: absolute;
    left: 55%;
}

#custom {
    top: 15px;
    position: absolute;
    left: calc(55% + 55px);
}

#random {
    top: 15px;
    position: absolute;
    left: calc(55% + 175px);
}

#default {
    top: 15px;
    position: absolute;
    left: calc(55% + 300px);
}

#flag-table-parent {
    position: absolute;
    left: calc(55% + 500px);
    top: 40px;
}

#flag {
    top: 15px;
    position: absolute;
    left: calc(55% + 505px);
}

#mem-table-parent {
    position: absolute;
    left: calc(55% + 550px);
    top: 40px;
}

#mem {
    top: 15px;
    position: absolute;
    left: calc(55% + 555px);
}

table, tr, td {
    border: 1px solid white;
}

#info {
    left: 55%;
    top: 450px;
    position: fixed;
}

#log {
    left: 55%;
    top: 515px;
    position: fixed;
}

#hr {
    border-color: darkgray;
    left: 55%;
    top: 505px;
    position: fixed;
    width: 300px;
}
#r { color: red }
#g { color: green }
#b { color: blue }

button {
    background-color: white;
    color: black;
    padding: 2px;
    border: none;
    font-family: Pixel NES;
}

button:disabled {
    background-color: lightgray;
    color: black;
    padding: 2px;
    border: none;
    font-family: Pixel NES;
}

button:hover {
    background-color: rgb(241, 241, 241);
    color: black;
    padding: 2px;
    border: none;
    font-family: Pixel NES;
}

#controls {
    top: calc(100% - 35px);
    left: 40px;
    position: fixed;
}

#year {
    font-family: Pixel NES;
    color: white;
    background-color: yellow;
    padding: 3px;
}